*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
} 

.background-leaves {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.4;
    background-image: url(./images/leaves.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.transparent-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

img {
    width: 10%;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.5;
}

h1 {
    color: white;
    font-family: Norse-bold, 'Times New Roman', Times, serif;
    font-size: 6rem;
}
