*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    background-color: #f9fafb;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
} 

.background-leaves {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0.4;
    background-image: url(./images/leaves.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.transparent-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 12rem;
}

.transparent-bar img {
    width: 18%;
}

h1 {
    color: white;
    font-family: Norse-bold, 'Times New Roman', Times, serif;
    font-size: 6rem;
}

.photo-credit {
    color: white;
}

footer a {
    color: white;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.6;
}

/* .main-text-container {
    background-color: lightgrey;
} */

.questions {
    display: flex;
}

.questions-column {
    display: flex;
    flex-direction: column;
}

input {
    border-color: #E5E7EB;
}