*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    background-color: #f9fafb;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
} 

.background-leaves {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0.4;
    background-image: url(./images/leaves.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.transparent-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 12rem;
}

.transparent-bar img {
    width: 20%;
    min-width: 6rem;
}

h1 {
    color: white;
    font-family: Norse-bold, 'Times New Roman', Times, serif;
    font-size: 6rem;
}

.photo-credit {
    color: white;
}

footer a {
    color: white;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.6;
    --left-pad: 2rem;
}

.main-text-container h2 {
    padding-left: var(--left-pad);
    padding-bottom: 2rem;
    font-weight: bold;
}

.form-container {
    position: relative;
    padding-left: var(--left-pad);
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    background-color: white;
    border: 1px solid rgba(37, 37, 37, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.questions {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.questions-column {
    display: flex;
    flex-direction: column;
    width: 90%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
}

legend {
    position: absolute;
    top: 1rem;
    left: 1.8rem;
    font-size: 1.5rem;
    font-weight: bold;
}

label {
    margin-top: 1rem;
}

input {
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    /* field-sizing: content; */
    width: 100%;
    max-width: 30ch;
}

input:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input:invalid {
    border-color: red;
}

.account-container {
    padding-left: var(--left-pad);
}

.account-btn {
    color: white;
    background-color: #596D48;
    border: 1px solid #596D48;
    border-radius: 0.5rem; 
    padding: 0.5rem 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.account-btn:hover {
    background-color: darkgreen;
}

.log-in-link {
    color: #596D48;
    font-weight: bold;
}